<div class="copy-container">

   <!-- Hero Logo and CPGD Logo -->
   <div class="hero-logo reveal-hero">
      <object data="assets/images/logo-large.svg" type="image/svg+xml" class="logo-large">
      </object>
      <object data="assets/images/brand-title.svg" type="image/svg+xml" class="brand-title">
      </object>
   </div>

   <div class="padding-container"></div>

   <!-- Header 1 -->
   <div class="header reveal-hero">
      <h1> {{ page.header1 }}</h1>
   </div>

   <div class="padding-container"></div>

   <!-- Header 2 -->
   <div class="header reveal-hero">
      <h2> Join CPGD Meetings on our <a href=https://discord.gg/A9dB8Gq target=”_blank”><strong> Discord </strong></a> every Wednesday 6-8pm. </h2>
   </div>
</div>

<!-- Sticky video background -->
<div class="sticky-lockup-container">
   <div class="sticky-lockup">
      <video id="hero-video" class="hero-video" autoplay muted loop playsinline
         src="assets/images/hero.mp4">
   </div>
</div>

