<div class="copy-container">

   <!-- Hero Logo and CPGD Logo -->
   <div class="hero-logo reveal-hero">
      <object data="assets/images/logo-large.svg" type="image/svg+xml" class="logo-large">
      </object>
      <object data="assets/images/brand-title.svg" type="image/svg+xml" class="brand-title">
      </object>
   </div>

   <div class="padding-container"></div>

   <!-- Header 1 -->
   <div class="header reveal-hero">
      <h1> {{ page.header1 }}</h1>
   </div>

   <div class="padding-container"></div>

   <!-- Header 2 -->
   <div class="header reveal-hero">
      <h2> Join CPGD Meetings at Building 14, Room 255, every Wednesday 6:40-8pm, and join our <a href="https://discord.gg/A9dB8Gq" target="_blank"><strong>Discord</strong></a>.</h2>
   </div>
</div>

<!-- Sticky video background -->
<div class="sticky-lockup-container">
   <div class="sticky-lockup">
      <video id="hero-video" class="hero-video" autoplay muted loop playsinline
         src="assets/images/hero1.mp4">
   </div>
</div>
