<link rel="stylesheet" href="assets/css/navbar.css">
<script src="assets/js/navbar.js"></script>

{% assign tabs = site.data.sites %}

<div id="navbar" class="bar">
   <div class="content">

      <a href="{{site.baseurl}}/"class="navbar-logo-wrapper">
         <img class="icon" src={{ "assets/images/logo-small.png" | relative_url }}>
      </a>

      <a href="{{site.baseurl}}/"class="navbar-logo-wrapper">
         <img class="logo" src={{ "assets/images/navbar-logo.svg" | relative_url }}>
      </a>


      <!-- Hamburger Icon for mobile -->
      <!-- <a onclick="enableBurgerMenu()" class="svg">
      <object data="assets/images/burger-icon.svg" type="image/svg+xml" class="burger">
      </object>
      </a> -->

      <a  class="navbar-logo-container hamburger-icon-container">
         <div style="height:37px" class="navbar-logo-wrapper">
             <img onclick="enableBurgerMenu()" src= {{ "assets/images/navbar/burger-icon.png" | relative_url }} type="image/svg+xml" class="burger">
         </div>
     </a>  


      <div class="tabs tabs-hidden">
         <ul class="ul ul-hidden">
            <li class="bottom-border label li-hidden"><a href="/#about-section">About</a></li>
            {% for item in tabs %}
               {% if forloop.last == false %}
                  <li class="bottom-border label li-hidden"><a href="{{site.baseurl}}/{{ item.url }}">{{ item.title }}</a></li>
               {% else %}
                  <li class="label li-hidden"><a href="{{site.baseurl}}/{{ item.url }}">{{ item.title }}</a></li>
               {% endif %}
            {% endfor %}
         </ul>
      </div>
   </div>
</div>