---
---

@import "global";


.footer{
   width: 100%;
   height: 420px;
   background-color: $deep-blue;
   overflow: hidden;

   .content {
      // display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 878px;
      height: 100%;
      vertical-align: middle;
      position: relative;

   }

   .copy-content {
      padding: 30px;
   }

   .email-bar {
      margin-top: 10px;
      @media #{$small} {
         width: 75%;
         margin-bottom: 10px;
      }
      @media #{$medium} {
         width: 300px;
      }
      height: 30px;
      border: none;
   }

   .email-button {
      height: 30px;
      font-family: "Axia";

      background-color: $light-blue;
      border: none;
   }

   .submit-button 
   {
      height: 30px;
      font-family: "Axia";

      background-color: $light-blue;
      border: none;
      text-decoration: none;
      border-radius: 3px;
      padding: 8px;
      font-size: 13px;
      color: $deep-blue;
   }

   .footer-logo {

         float: right;
         width: 296px;
         padding: 10px 20px 0px 0px;
         position: absolute;
         right: 0;


      @media #{$about-size} {
         float: none;
         display: none;
         padding-top: 20px;
      }
   }

   .logo-icon
   {
      padding: 5px;
      opacity: 0.8;
      transition: all 0.2s;

      @media #{$small} {
         width: 38px;
      }

      @media #{$medium} {
         width: 50px;
      }
   }
   .logo-icon:hover
   {
      opacity: 1;
   }

   h1 {
      color: $yellow;
      font-family: "AxiaBlack";
      margin: 0px;
   }
   h2 {
      color: $light-blue;
      font-family: "Axia";
      margin: 0px;
      font-size: 19px;
   }

   // Mailchimp stuff
   #mc_embeded_signup
   {
      background: $blue;
      clear:left; 
      font:14px Helvetica,Arial,sans-serif;
      font-family: "AxiaBlack";

   }
   label {
      font-family: "AxiaBlack";
      color: white;
   }

   .mce_inline_error
   {
      font-family: "AxiaBlack";
      //color:white;
   }

   #mc-embedded-subscribe-form
   {
      padding: 0px;

      @media #{$medium} {
         width: 100%;
      }
      @media #{$large} {
         width: 500px;
      }
      
   }

   .response {
      font-family: "AxiaBlack";
      padding: 0 !important;
      margin: 0 !important;
   }

   .clear {
      margin: 0 !important;
      padding: 0 !important;
   }

   #mc-embedded-subscribe {
      color: $deep-blue !important;
      background-color: $light-blue !important;
      font-family: "AxiaBlack";
      margin: 0;
      margin-top: 6px !important;
   }

   #mc-embedded-subscribe:hover {
      background-color: $green !important;

   }

   .mce_inline_error {
      margin: 0 !important;
   }

   .indicates-required {
      font-family: "AxiaBlack";
      color: white;
   }
   .mc-field-group
   {
      padding: 0 !important;
   }

   #mce-error-response
   {
      color: rgb(255, 113, 113);
   }
}