<html>
   <head>
      <link rel="stylesheet" href="assets/css/footer.css">
      <link rel="stylesheet" href="assets/css/contact.css">
      <link rel="stylesheet" href="assets/css/about.css">

      
      {% comment %} <script src="{{ base.url | prepend: site.url }}/assets/js/test.js"></script> {% endcomment %}
      <script src="https://unpkg.com/scrollreveal"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
   <body>

      {% include navbar.html %}

      <div class="contact-section-container">
         <div class="about-section reveal-about" style="">
            <div class="about-description">
               <h1> {{ page.header }} </h1>
               <h2>  {{content}}</h2>
            </div>
            <img class="about-img" src="assets/images/contact/{{page.img-path}}">
         </div>
      </div>

      {% include footer.html %}

   </body>

   <script>
      var optionsAbout = {
         reset: false,
         origin: 'bottom', distance: '50px', duration: 1200
      }
      ScrollReveal().reveal('.contact-section-container', optionsAbout);
   </script>


     
</html>