<html>
   <head>
      <link rel="stylesheet" href="assets/css/home.css">
      <link rel="stylesheet" href="assets/css/about.css">
      <link rel="stylesheet" href="assets/css/footer.css">
      
      {% comment %} <script src="{{ base.url | prepend: site.url }}/assets/js/test.js"></script> {% endcomment %}
      <script src="https://unpkg.com/scrollreveal"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{site.title}}</title>

   </head>
   <body>

      {% include navbar.html %}

      <div class="hero-container">
         {% include hero.html %}
      </div>

      <div id="about-section" class="about-section-container">
         {% include about.html %}
      </div>

      {% include footer.html %}

      <script>
         var optionsHero = {
            reset: true, 
            scale: 0.9,  viewFactor: 0.4
         }
         var optionsAbout = {
            reset: false,
            origin: 'bottom', distance: '50px'
         }
         ScrollReveal().reveal('.reveal-about', optionsAbout);
         ScrollReveal().reveal('.reveal-hero', optionsHero);
      </script>

   </body>



     
</html>