<html>
   <head>
      <link rel="stylesheet" href="/assets/css/home.css">
      <link rel="stylesheet" href="/assets/css/about.css">
      
      {% comment %} <script src="{{ base.url | prepend: site.url }}/assets/js/test.js"></script> {% endcomment %}
      {% comment %} <script src="https://unpkg.com/scrollreveal"></script> {% endcomment %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

   </head>
   <body>

      {% include navbar.html %}

      <div class="hero-container">
         <div class="copy-container">

            <!-- Hero Logo and CPGD Logo -->
            <div class="hero-logo">
               <object data="assets/images/logo-large.svg" type="image/svg+xml" class="logo-large">
               </object>
               <object data="assets/images/brand-title.svg" type="image/svg+xml" class="brand-title">
               </object>
            </div>

            <!-- Header 1 -->
            <div class="header reveal-hero">
               <h1> {{ page.header1 }}</h1>
            </div>

            <!-- Header 2 -->
            <div class="header reveal-hero">
               <h2> {{ page.header2 }} </h2>
            </div>
         </div>

         <!-- Sticky video background -->
         <div class="sticky-lockup-container">
            <div class="sticky-lockup">
               <video id="hero-video" class="hero-video" autoplay muted loop playsinline
                  src="assets/images/hero.mp4">
            </div>
         </div>

      </div>

      <div class="about-section-container">
         <div class="about-section">
            <img class="about-img" src="assets/images/aboutImage1.jpg">
            <div class="about-description">
               <h1> {{ page.aboutSectionHeader1 }} </h1>
               <h2> {{ page.content }} </h2>
            </div>
         </div>
         <div class="about-section">
            <img class="about-img" src="assets/images/aboutImage2.jpg">
            <div class="about-description">
               <h1> {{ page.aboutSectionHeader2 }} </h1>
               <h2> {{ page.content }} </h2>
            </div>
         </div>

         <!-- Script for scroll revealing -->
         <!--
         <script>

         </script>-->
      </div>

      <!-- Script for scroll revealing 
      <script>
         var optionsHero = {
            reset: true, delay: 100,
            origin: 'top', 
            scale: 0.9, 
            opacity: 0,
            viewFactor: 0.5,

         }
         var optionsAbout = {
         reset: false, delay: 200,
         origin: 'bottom', distance: '30px'
         }
         ScrollReveal().reveal('.reveal-hero', optionsHero);
      </script>
      -->

     
</html>