<html>
   <head>
      <link rel="stylesheet" href="/assets/css/officers.css">
      <link rel="stylesheet" href="/assets/css/footer.css">
      
      {% comment %} <script src="{{ base.url | prepend: site.url }}/assets/js/test.js"></script> {% endcomment %}
      <script src="https://unpkg.com/scrollreveal"></script>
      {% assign officer_info = site.data.officers %}

   </head>
   <body>

      {% include navbar.html %}
      <div class="officers-container">
         <div class="hero">
            <img class="hero-img" src="assets/images/officers.jpg">
            <h1 class="hero-header"> MEET THE OFFICERS. </h1>
         </div>

         
         <div class="officers">
            {% for officer in officer_info %}
               <div class="officer-container">
                  <img class="officer-icon" src="assets/images/aboutImage1.jpg">
                  <h2> {{officer.name}} </h2>
                  <h3> {{officer.description}} </h3>
               </div>
            {% endfor %}
         </div>

      </div>

      {% include footer.html %}

      <script>
         var optionsAbout = {
            reset: false,
            origin: 'bottom', distance: '50px', duration: 1200
         }
         ScrollReveal().reveal('.officers', optionsAbout);
      </script>

   </body>
</html>